# Ignore Python virtual environment
/venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore user-uploaded models
models/coqui/*
models/piper/*
models/kokoro/*

# Ignore audio files
static/audio/*
static/audio_cache/*

# Ignore Flatpak build
.flatpak-builder
build-dir

# Saved users
users/